<hi>Books</hi>

<% @books.each do |book| %>
  <div>
    <p><%= image_tag book.user.get_profile_image(100,100) %></p>
    <p>Title</p>
    <%= link_to book.title, book_path(book.id) %>
    <p>Opinion</p>
    <%= book.body %>
  </div>
<% end %>
